/*mini_320.css*/

@media screen and (max-width: 639px) {
    #gnb{display: none;}
    #gnb_mob{display:block;}
    /*#gnb_mob:focus, .gnb_mob_menu{display:block;}*/

    /* ===== */
    #viewBox{display:none;}

    #infoBox{height:600px;}

    #galBox{display: none;}

    .sns_box{display:none;}
}