/*mini_320.css*/

@media screen and (max-width: 639px) {
    #gnb{display: none;}
    #gnb_mob{display:block;}
    /*#gnb_mob:focus, .gnb_mob_menu{display:block;}*/

    /* ===== */
    #viewBox{display:none;}

    #infoBox{height:600px;}

    #galBox{display: none;}

    #newsBox > h2{display:none;}
    .news_info{display:none;}
    
    #newsBox{width:100%; height:25vw;}

    .news_area{width:100%; height:100%;}
    .showroom{
        margin-top:0;
        width:100%; height:100%;
        background-color: #eee;
    }

    #showroom > h3{float:left; width:50%;}
    .showroom_info{float:right; width:50%;}

    .sns_box{display:none;}
}