/*mini_320.css*/

@media screen and (max-width: 639px){
    #gnb{display: none;}
    #gnb_mob{display:block;}
    /*#gnb_mob:focus, .gnb_mob_menu{display:block;}*/

    /* ===== */
    #viewbox{display:none;}

    #infobox{height:600px;}

    #galbox{display: none;}

    .sns_box{display:none;}
}