/*mini_640.css*/

@media screen and (min-width: 640px) and (max-width: 1023px) {
    #gnb{display: none;}

    #gnb_mob{display:block;}

    #gnb_mob:focus .gnb_mob_menu{display:block;}
    
  /* ======================================= */
    #viewBox{height:39.0625vw;}

    .slide_btn, .view_guide{display: none;}

  /* ======================================= */
    #infoBox{height:900px;}

    #infoBox > ul{
      padding:60px; box-sizing: border-box;}

    #infoBox li{
      width:33%; height:250px;
      margin-left:10%;
    }

  /* ======================================= */
    #galBox{display: none;}

    .news_area


  /* ======================================= */
    

  /* ======================================= */
    .customer_box{width:71.40625vw;}

    .sns_box{display:none;}
  
  
  }